$headerBg: url(../img/m-h-day.jpg);
$body-bg: #FFFFFF;
$primary-color: #21232E;

$header-color: #21232E;
$markColor: #14A0C7;

$but-bg-color: #699900;
$text-color-white: white;
$btn-height: 50px;
$btn-width: 142px;
