$headerBg: url(../img/m-h-night.jpg);
$body-bg: #21232E;
$primary-color: #3B3F50;

$header-color: #FFFFFF;
$markColor: #FF4E33;

$but-bg-color: #E3AC00;
$text-color-white: white;
$btn-height: 50px;
$btn-width: 142px;
